extends base.jade

block content
    div(id="login", class="col-md-4")
        h3= "Login"
        form(method="post")
            div(class="form-group")
                label= "User ID"
                input(type="textbox", class="form-control", name="userid", placeholder="User ID")
                label= "Password"
                input(type="password", class="form-control", name="password", placeholder="Password")
                input(type="hidden", name="type", value="login")
            button(type="Submit", class="btn btn-default")= "Submit"
