server {
    listen 80;
    listen [::]:80;

    root /var/www/projectbase.com/public;
    server_name projectbase.com;
    index index.php;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php7.0-fpm.sock;
    }
}
