<!doctype html>
<html lang="en">
  <head>
	<meta charset="utf-8" />
	<title>{{ title }} • {{ siteName }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
	<link rel="stylesheet" type="text/css" href="/css/site.css" />
  </head>
  <body>
	<div class="wrapper container container-fluid">
		{% include "navigation.html" %}
		{% block content %}Hi{% endblock %}
		<div class="push"></div>
	</div>
	<div class="footer">
		{% include "footer.html" %}
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/site.js"></script>
  </body>
</html>
